.main-bar

  .header
    .left-header
      .left-header__title
        test
        %ul.left-header__members
          Member：
          %li.member
            kota
          %li.member
            yuki
    .right-header
      .right-header__button
        Edit
  .messages
    .message
      .top-message
        .top-message__user-name
          name
        .top-message__date
          2020/02/04
      .bottom-message
        .bottom-message__content
          Hello
    .message
      .top-message
        .top-message__user-name
          name
        .top-message__date
          2020/02/05
      .bottom-message
        .bottom-message__content
          Good Evening
  .form
    %form
      .three_post
        .input-box
          %input.input-box__message{ placeholder: 'type a message'}
          .input-box__photo
            %label.input-box__photo__image
              = fa_icon 'picture-o', class: 'icon'
              %input.hidden{type: 'file'}
        %input.three_post__submit{type: 'submit', value: 'Send'}









