.main-bar{
  width: calc( 100vw - 300px );
  .header{
    box-sizing: border-box;
    background-color: $white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    .left-header{
      padding-left: 40px;
      &__title{
        color: #333;
        font-size: 20px;
        padding-top: 35px;
      }
      &__members{
        color: #999;
        font-size: 12px;
        padding-top: 15px;
        display: flex;
        .member{
        padding-right: 5px;
        }
      }
    }
    .right-header{
      color: $light_blue;
      box-sizing: border-box;
      border: 1px solid $light_blue;
      font-size: 16px;
      line-height: 40px;
      margin: 30px 0 30px;
      padding: 0 20px;
    }
  }
  .messages{
    background-color: #fafafa;
    height: calc( 100vh - 100px - 90px );
    padding: 46px 40px 0;
    .message{
      padding-bottom: 40px;
      .top-message {
        display: flex;
        margin-bottom: 10px;
        &__user-name{
          color: #333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: #999;
          font-size: 12px;
          margin-left: 10px;
          
        }
      }
      .bottom-message{
        &__content{
          color: #434A54;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .form{
    background-color: #ddd;
    height: 90px;
    padding: 20px 40px;
    box-sizing: border-box;
    .three_post{
      display: flex;
      justify-content: space-between;
      .input-box{
        position: relative;
        width: 100%;
        &__message {
          height: 50px;
          border: none;
          padding: 0 40px 0 10px;
          width: 100%;
        }  
        &__photo{
          position: absolute;
          background-color: $white;
          top: 10px;
          right: 10px;
          &__image{
            font-size: 20px;
          }
          .hidden {
            display: none;
          }
        }
      }
      &__submit{
        background-color: $light_blue;
        color: $white;
        width: 100px;
        font-size: 16px;
        height: 50px;
        border: none;
        margin-left: 15px;
        padding: 0 30px;
        cursor: pointer;
      }
    }
  }
}